<table class="holisticMapTable" >
  <thead role="rowgroup">
    <tr class="firstHeader">
      <th class="mat-header-cell" rowspan="2">API Type</th>
      <th class="mat-header-cell" rowspan="2">API Risk Classification</th>
      <th class="mat-header-cell" colspan="3">Pending</th>
      <th class="mat-header-cell" colspan="2">SLA Breached</th>
    </tr>
    <tr class="SecondHeader">
      <!-- <th class="mat-header-cell">API Type</th>
      <th class="mat-header-cell">API Risk Classification</th> -->
      <th class="mat-header-cell">PEN Test</th>
      <th class="mat-header-cell">Veracode Scan</th>
      <th class="mat-header-cell">Raml Review</th>
      <th class="mat-header-cell">Pen Test</th>
      <th class="mat-header-cell">Veracode</th>
    </tr>
  </thead>
  <tbody *ngFor="let data of holisticMapData">
    <tr class="mat-row">
      <th class="mat-cell" rowspan="4" (click)="clickPartition({type:'apiTable',apiType:'External'})">External</th>
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'External','apiRiskClassificatin':'Critical'})">Critical</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Critical', column : {'penTestStatus':'Pending'}})">{{ data.extCriPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Critical', column : {'veracodeStatus':'Pending'}})">{{ data.extCriPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Critical', column : {'ramlReviewStatus':'Pending'}})">{{ data.extCriPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Critical', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.extCriPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Critical', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.extCriVeracodeSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'External','apiRiskClassificatin':'High'})">High</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'High', column : {'penTestStatus':'Pending'}})">{{ data.extHighPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'High', column : {'veracodeStatus':'Pending'}})">{{ data.extHighPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'High', column : {'ramlReviewStatus':'Pending'}})">{{ data.extHighPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'High', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.extHighPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'High', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.extHighVeracodeSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'External','apiRiskClassificatin':'Medium'})">Medium</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Medium', column : {'penTestStatus':'Pending'}})">{{ data.extMedPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Medium', column : {'veracodeStatus':'Pending'}})">{{ data.extMedPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Medium', column : {'ramlReviewStatus':'Pending'}})">{{ data.extMedPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Medium', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.extMedVeracodeSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Medium', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.extMedPenTestSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'External','apiRiskClassificatin':'Low'})">Low</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Low', column : {'penTestStatus':'Pending'}})">{{ data.extLowPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Low', column : {'veracodeStatus':'Pending'}})">{{ data.extLowPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Low', column : {'ramlReviewStatus':'Pending'}})">{{ data.extLowPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Low', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.extLowPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'External', 'apiRiskClassificatin':'Low', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.extLowVeracodeSLABreach }}</td>
    </tr>
  </tbody>
  <tbody *ngFor="let data of holisticMapData">
    <tr class="mat-row">
      <th class="mat-cell" rowspan="4" (click)="clickPartition({type:'apiTable',apiType:'Internal'})">Internal</th>
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'Internal','apiRiskClassificatin':'Critical'})">Critical</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Critical', column : {'penTestStatus':'Pending'}})">{{ data.intCriPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Critical', column : {'veracodeStatus':'Pending'}})">{{ data.intCriPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Critical', column : {'ramlReviewStatus':'Pending'}})">{{ data.intCriPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Critical', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.intCriPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Critical', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.intCriVeracodeSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'Internal','apiRiskClassificatin':'High'})">High</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'High', column : {'penTestStatus':'Pending'}})">{{ data.intHighPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'High', column : {'veracodeStatus':'Pending'}})">{{ data.intHighPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'High', column : {'ramlReviewStatus':'Pending'}})">{{ data.intHighPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'High', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.intHighPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'High', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.intHighVeracodeSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'Internal','apiRiskClassificatin':'Medium'})">Medium</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Medium', column : {'penTestStatus':'Pending'}})">{{ data.intMedPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Medium', column : {'veracodeStatus':'Pending'}})">{{ data.intMedPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Medium', column : {'ramlReviewStatus':'Pending'}})">{{ data.intMedPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Medium', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.intMedPenTestSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Medium', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.intMedVeracodeSLABreach }}</td>
    </tr>
    <tr class="mat-row">
      <td class="mat-cell" (click)="clickPartition({type:'apiTable',apiType:'Internal','apiRiskClassificatin':'Low'})">Low</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Low', column : {'penTestStatus':'Pending'}})">{{ data.intLowPendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Low', column : {'veracodeStatus':'Pending'}})">{{ data.intLowPendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Low', column : {'ramlReviewStatus':'Pending'}})">{{ data.intLowVeracodeSLABreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Low', column : {'penTestSlaBreach':'SLA Breached'}})">{{ data.intLowPendingRamlReview }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',apiType:'Internal', 'apiRiskClassificatin':'Low', column : {'veracodeSlaBreach':'SLA Breached'}})">{{ data.intLowPenTestSLABreach }}</td>
    </tr>
  </tbody>
  <tfoot class="">
    <tr class="mat-row">
      <th class="mat-cell" colspan="2"> Total</th>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',column : {'penTestStatus':'Pending'}})">{{ add_PendingPenTesting }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',column : {'veracodeStatus':'Pending'}})">{{ add_PendingVeracodeScan }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',column : {'ramlReviewStatus':'Pending'}})">{{ add_ramlReviewStatus }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',column : {'penTestSlaBreach':'SLA Breached'}})">{{ add_penTestSlaBreach }}</td>
      <td class="mat-cell mat-number" (click)="clickPartition({type:'apiTable',column : {'veracodeSlaBreach':'SLA Breached'}})">{{ add_veracodeSlaBreach }}</td>
    </tr>
  </tfoot>
</table>

<!-- "veracodeStatus": "Pending",
"penTestStatus": "Pending",
"ramlReviewStatus": "Pending",
"veracodeSlaBreach": "SLA Breached",
"penTestSlaBreach": "SLA Breached",-->