<mat-grid-list class="counterGrid"cols="4" rowHeight="125px" *ngFor="let summary of showApiSummary">
  <mat-grid-tile [colspan]=4>
    <mat-card class="dashboard-card counter-card">
      <mat-card-content class="dashboard-card-content">
        <div class="counterContaniner">
          <div class="counterDiv">
            <div class="counterHeader">
              <div class="dateDiv">
                <mat-icon>insert_invitation</mat-icon><strong>{{ apiReportDate |  date:'dd/MM/yyyy'}}</strong>
              </div>
              <h4>Total Vulnerabilities</h4>
              <h2>{{ summary.totalVulnerabilities }}</h2>
            </div>
          </div>
          <div class="counterDiv">
            <div class="counterHeader">
              <h4>Pending for Pen Test</h4>
            </div>
            <div class="counters">
              <div class="counter">
                <label for="">Internal</label>
                <h2>{{ summary.extApiPenTestPending }}</h2>
              </div>
              <div class="counter">
                <label for="">External</label>
                <h2>{{ summary.extApiPenTestPending }}</h2>
              </div>
            </div>
          </div>
          <div class="counterDiv">
            <div class="counterHeader">
              <h4>Pending for Veracode Test</h4>
            </div>
            <div class="counters">
              <div class="counter">
                <label for="">Internal</label>
                <h2>{{ summary.extApiVeracodeScanPending }}</h2>
              </div>
              <div class="counter">
                <label for="">External</label>
                <h2>{{ summary.extApiVeracodeScanPending }}</h2>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>