<!-- <mat-sidenav-container class="sidenav-container"> -->
<mat-sidenav-container class="sidenav-container"  [hasBackdrop]="false">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar color="primary">Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard D3</a>
      <!-- <a mat-list-item routerLink="/d3-dashboard">Dashboard D3</a> -->
      <a mat-list-item routerLink="/new-dashboard">Dashboard V2</a>
      <a mat-list-item routerLink="/old-dashboard">Dashboard V1</a>
      
      <!-- <a mat-list-item routerLink="/api-risk-report-json">Risk Report JSON</a>
      <a mat-list-item routerLink="/chart-with-service">Chart with Service</a> -->
      <!-- <a mat-list-item routerLink="/bubble-report">Buble Report</a>
      <a mat-list-item routerLink="/new-bubble-chart">New Bubble Chart</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>API Risk Report</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="contentArea">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
