<table class="holisticMapTable" >
        <thead role="rowgroup">
          <tr class="firstHeader">
            <th class="mat-header-cell">API Type</th>
            <th class="mat-header-cell">API Risk Classification</th> 
            <!--<th class="mat-header-cell">API Sr. No.</th> -->
            <th class="mat-header-cell">API Name</th>
            <th class="mat-header-cell">API Version</th>
            <th class="mat-header-cell">Transaction Cycle</th>
            <!--<th class="mat-header-cell">Risk Score</th>-->
            <th class="mat-header-cell">Pen Test Sla Breach</th>
            <th class="mat-header-cell">Pen Test Status</th>
            <th class="mat-header-cell">Pen Test Date</th>
            <th class="mat-header-cell">Raml Review Pending</th>
            <th class="mat-header-cell">Raml Review Status</th>
            <th class="mat-header-cell">Raml Review Date</th>
            <th class="mat-header-cell">Veracode Sla Breach</th>
            <th class="mat-header-cell">Veracode Status</th>
            <!--<th class="mat-header-cell">Overall Risk</th>-->
          </tr>
        </thead>

        <tbody *ngFor="let data of tableData">
          <tr class="mat-row">
            <td class="mat-cell">{{ data.apiType }}</td>
            <td class="mat-cell">{{ data.apiRiskClassificatin }}</td>
            <!--<td class="mat-cell">{{ data.srNo }}</td>-->
            <td class="mat-cell">{{ data.apiName }}</td>
            <td class="mat-cell">{{ data.apiVersion }}</td>
            <td class="mat-cell">{{ data.transactionCycle }}</td>
            <!--<td class="mat-cell">{{ data.riskScore }}</td>-->
            <td class="mat-cell">{{ data.penTestSlaBreach }}</td>
            <td class="mat-cell">{{ data.penTestStatus }}</td>
            <td class="mat-cell">{{ data.penTestDate }}</td>
            <td class="mat-cell">{{ data.ramlReviewPending }}</td>
            <td class="mat-cell">{{ data.ramlReviewStatus }}</td>
            <td class="mat-cell">{{ data.ramlReviewDate }}</td>
            <td class="mat-cell">{{ data.veracodeSlaBreach }}</td>
            <td class="mat-cell">{{ data.veracodeStatus }}</td>
            <!--<td class="mat-cell">{{ data.overallRiskClassification }}</td>-->
          </tr>
        </tbody>
      </table>
      