<div class="grid-container">
  <div *ngFor="let summary of showApiSummary">
    <h1 class="mat-h1">Dashboard</h1>
    <!-- <p>{{ summary.reportDate }}</p> -->
  </div>
  <app-api-counters></app-api-counters>
 <!--<app-donutchart *ngIf="rootData.name !== undefined" [chartData]="rootData"></app-donutchart>-->
 <!--<app-sunburstchart *ngIf="rootData.name !== undefined" [chartData]="rootData"></app-sunburstchart>-->
 
  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
  <mat-grid-list cols="12" rowHeight="400px">
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Overall Risk
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-api-overview></app-api-overview>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-api-security-risk></app-api-security-risk>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- Chart3-->
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-donutchart *ngIf="rootData.name !== undefined" [chartData]="rootData"></app-donutchart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--<mat-grid-tile [colspan]=2 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-donutchart *ngIf="root.name !== undefined"  [chartData]="root"></app-donutchart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>-->
    <!-- <mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-api-security></app-api-security>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
    
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile [colspan]=2 [rowspan]=1>
      <mat-card class="dashboard-card">
        <!-- <mat-card-header>
          <mat-card-title>
            Holistic Table View
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header> -->
        <mat-card-content class="dashboard-card-content">
          <app-table-map></app-table-map>
          <!-- <map-data-table></map-data-table> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="2" rowHeight="400px">
    <mat-grid-tile [colspan]=2 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Holistic Table View
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-table-map></app-table-map>
          <!-- <map-data-table></map-data-table> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>