<div class="grid-container">
 <h1 class="page-title mat-h1">Dashboard</h1>
  <app-api-counters></app-api-counters>
  <mat-grid-list cols="12" rowHeight="400px">
    <mat-grid-tile [colspan]=4 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Overall Risk
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="d3Div" id="container1"></div>
          <app-donutchart 
            *ngIf="donutData.name !== undefined" 
            [chartData]="donutData" 
            (chartDetails)="getChartDetails($event)"
            [chartSetting]="chartSetting"
            [chartID]="'container1'"></app-donutchart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=3 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--<app-api-security-risk></app-api-security-risk>-->
          <div class="d3Div" id="pieChart1"></div>
          <app-piechart 
          *ngIf="pieData.name !== undefined" 
          [chartData]="pieData" 
          (chartDetails)="getChartDetails($event)"
          [chartID]="'pieChart1'">
        </app-piechart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--START: Chart3-->
   <!--<mat-grid-tile [colspan]=1 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Overall Risk
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div id="barChart1"></div>
          <app-barchart 
          *ngIf="pieData.name !== undefined" 
          [chartData]="barData" 
          [chartID]="'barChart1'"></app-barchart>        
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>-->
    <!-- START: Table -->
    <!--<mat-grid-tile [colspan]=3 [rowspan]=1>
        <mat-card class="dashboard-card">
         <mat-card-content class="dashboard-card-content">
            <report-table></report-table>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>-->
    <mat-grid-tile [colspan]=5 [rowspan]=1 class="testDataTable">
      <mat-card class="dashboard-card">
       <mat-card-content class="dashboard-card-content">
          <app-table-map (chartDetails)="getChartDetails($event)"></app-table-map>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--<mat-grid-list cols="12" rowHeight="auto">
    <app-hbarchart></app-hbarchart>
  </mat-grid-list>-->
  <!-- START: Expansion Panel -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Test Reports
        </mat-panel-title>
        <!-- <mat-panel-description>
           Test Reports
        </mat-panel-description> -->
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p></p>
    </mat-expansion-panel> -->
  </mat-accordion>

  <!-- END : Expansion Panel -->
</div>