<div class="grid-container">
  <unit-filter
  [businessUnit]="businessUnit"
  [transactionCycle]="transactionCycle"
  (onFilter)="onFilter($event)"
  ></unit-filter>
  <app-api-counters
  *ngIf="riskData.length > 0"
  [riskData]="riskData"
  [APISummaryMap]="APISummaryMap"
  ></app-api-counters>
  
  <mat-grid-list cols="12" rowHeight="400px">
    <!--1-->
    <mat-grid-tile [colspan]=6 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Overall Risk
           <!-- <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>-->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
         <!-- <div class="d3Div" id="container1"></div>
          <app-donutchart 
            *ngIf="donutData.name !== undefined" 
            [chartData]="donutData" 
            (chartDetails)="getChartDetails($event)"
            [chartSetting]="chartSetting"
            [chartID]="'container1'"></app-donutchart>-->
            <svg class="sunChartLegend"></svg>
            <app-sunburst  
            *ngIf="donutData.name !== undefined" 
            [chartData]="donutData" 
            [chartSetting]="chartSetting"
            (chartDetails)="getChartDetails($event)"
            [chartID]="'container1'"></app-sunburst>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!--2-->
    <mat-grid-tile [colspan]=6 [rowspan]=1>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            API Security Risk Overview
            <!--<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>-->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--<app-api-security-risk></app-api-security-risk>-->
          <svg class="pieChartLegend"></svg>
          <div class="d3Div" id="pieChart1"></div>
          <app-piechart 
            *ngIf="pieData.name !== undefined" 
            [chartData]="pieData" 
            (chartDetails)="getChartDetails($event)"
            [chartID]="'pieChart1'">
        </app-piechart>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- START: Expansion Panel -->
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Vulnerabilities Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list cols="12" rowHeight="450px">
        <mat-grid-tile [colspan]=6 [rowspan]=1 class="testDataTable">
            <mat-card class="dashboard-card">
                <mat-card-header>
                    <mat-card-title>
                      <b>Pen Test Volume</b>
                    </mat-card-title>
                  </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <svg class="barChart1"></svg>
                <div class="d3Div" id="barChart1"></div>
                <app-barchart 
                  *ngIf="barData.length > 0"
                  [chartData]="barData" 
                  [chartID]="'barChart1'"></app-barchart>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=6 [rowspan]=1 class="testDataTable">
          <!--<div class="d3Div" id="horizontalBarChart1"></div>
          <app-horizontal-barchart
          *ngIf="horizantalChartData.labels !== undefined" 
          [chartData]="horizantalChartData"></app-horizontal-barchart>-->
          <mat-card class="dashboard-card">
          
            <mat-card-content class="dashboard-card-content">
              <app-table-map 
                *ngIf="holisticMapData.length > 0"
                (chartDetails)="getChartDetails($event)"
                [holisticMapData]="holisticMapData"
                [riskData]="riskData"></app-table-map>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- END : Expansion Panel -->
</div>