@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.contentArea { padding: 10px; }

.mat-toolbar.mat-primary {
    z-index: 1;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px !important;
}
.mat-toolbar.mat-primary {
    background: #fff !important;
    color: #000000de !important;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12) !important;
    z-index: 5;
}
.mat-icon-button {
    color: #0074a6 !important;
}
.mat-sidenav {
    border-right: 1px solid #3f51b51f;
}
.sidenav.mat-drawer {
    top: 55px !important;
    /*z-index: auto;*/
}
.counter-card {
    width: -webkit-fill-available;
    left: 15px;
    right: 15px;
}
.headerContent {
    display: inline-flex !important;
    align-items: center;
}
.dateDiv {
    margin-right: 15px;
    margin-top: 5px !important;
}
.dateDiv .mat-icon {
    vertical-align: middle;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    color: #0074a6 !important;
}
.counter-card .count {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 300;
    background-color: #00000038;
    padding: 5px;
    min-width: 18px;
    border-radius: 50px;
    text-align: center;
}
#canvas1, #canvas2, #canvas3, #canvas4,
.chartCanvas {
    min-height: 250px;
    max-height: 250px;
    width: auto !important;
}

.page-title.mat-h1 {
    margin:0px
}
.counter-card.mat-card {
    padding: 5px;
}
.counterContaniner {
    text-align: center;
    display: flex;
}
.counterDiv{
    width: 50%;
}
.counterDiv:nth-child(1) {
    width: 275px;
}
.counterDiv:nth-child(2) {
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
.counter:nth-child(1) {
    border-right: 1px solid #d5d5d5;
}

.counterDiv .counters {
    display: flex;
}

.counterDiv .counters .counter {
    margin-top: 10px;
    width: 50%;
}
.counterContaniner h4 {
  margin: 5px;
  margin-bottom: 0px;
}

.counterContaniner h2 {
    color: #016da9;
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 200;
    margin-top: auto;
  }

  .counterGrid .mat-grid-tile .mat-figure{
    right: 20px;
  }
/* START: Rupesh's */
.risk-score {
    font-size: 40px !important;
    font-weight: 300;
    text-anchor: middle;
    -webkit-transform: translate(20px,-32px);
    transform: translate(20px,-32px);
} 
.risk-level {
    font-size: 14px !important;
    font-weight: 700;
    text-anchor: middle;
    -webkit-transform: translate(20px,-32px);
    transform: translate(20px,-32px);
}
.risk-score-sun {
    font-size: 20px !important;
    font-weight: 300;
    text-anchor: middle;
    /*-webkit-transform: translate(20px,-32px);
    transform: translate(20px,-32px);*/
} 
.risk-level-sun {
    font-size: 14px !important;
    font-weight: 700;
    text-anchor: middle;
    -webkit-transform: translate(0px,20px);
    transform: translate(0px,20px);
}
.overviewChartStyle {
    position: relative;
}
.overviewChartStyle {
    width: 100%; 
    height: 40px;
    position: absolute; 
    top: 50%; 
    left: 0; 
    margin-top: -35px;
    line-height:19px; 
    text-align: center; 
    z-index: 1;
}

.riskScoreDiv h1{
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}
       
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size:12px;
  }
  .d3Div {
      align-items: left;
      text-align: left;
      margin-top: -135px;
  }
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    /* width: 100%; */
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

 text, path {
    cursor: pointer;
  }
  .bar-label {
    font-size: 12px !important;
  }
  .hbarchart .label {
    fill: black;
    font-size: 14px;
    text-anchor: end;
  }
  .hbarchart .legend {
    font-size: 14px !important;
  }

  #barChart1 {
      margin-top: 30px;
  }

  .buTcSelector {
      
  }